* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --color1: #03A65A;
    --color2: #2D55A6;
    --color3: #F288A4;
    --color4: #F2CB05;
    --color5: #F26938;

    --color6: #fff;
    --color7: #393f4a40;
    --color8: #181722;
    --color9: #393F4A;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
}

#main {
    width: 100vw;
    padding: 89px 144px 34px 144px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 21px;
    flex-shrink: 0;
}

#main span {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;

    padding: 3px 8px;
    border-radius: 3px;
    color: var(--color6);
}

#main p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: larger;
    color: var(--color9);
}

#paleta {
    width: 100vw;
    padding: 0 144px 89px 144px;

    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.form {
    display: flex;
    gap: 8px;
}

.form input {
    background-color: var(--color7);
    color: var(--color9);
    border-radius: 13px;
    padding: 5px 13px;
    font-size: smaller;
}

.form input:focus {
    outline: none;
}

#grid {
    width: 100%;

    background-color: var(--color7);
    border-radius: 3px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    padding: 13px;
    gap: 13px;
}

.cor {
    aspect-ratio: 1 / 1;
    border-radius: 3px;
}

@media only screen and (max-width: 700px) {
    #main {
        padding: 55px 34px 34px 34px;
    }

    #main span {
        font-size: larger;
    }

    #main p {
        font-size: medium;
    }

    #paleta {
        padding: 0 21px 55px 21px;
    }
}